{% extends 'layout/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Удалить товарную группу{% endblock %}
{% block content %}
    <h3 class="mb-3">
        <a href="{% url 'main:show_gtd' %}">К списку ГТД</a> ->
        К ГТД <a href="{% url 'main:per_gtd' pk=group.gtd.pk %}">{{ group.gtd.gtdId }}</a> ->
        Удалить группу {{ group.number }}
    </h3>
    <form method="post">
        {% csrf_token %}
        <p>Вы уверены, что хотите удалить эту группу ГТД?</p>
        {{ form }}
        <input class="btn btn-outline-danger" type="submit" value="Подтвердить">
    </form>
{% endblock %}