{% extends 'layout/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Удалить товар из ГТД{% endblock %}

{% block content %}
    Удалить выбранный товар из ГТД?
    <h3 class="mb-3"> <a href="{% url 'main:show_gtd' %}">К списку ГТД</a> -> ГТД <a href="{% url 'main:per_gtd' pk=good.gtd.pk %}">{{ good.gtd.gtdId }}</a> -> Удалить товар {{ good.good.marking }}</h3>
    <form method="post">
        {% csrf_token %}
        <p>Вы уверены, что хотите удалить товар?</p>
        {{ form }}
        <input class="btn btn-outline-danger" type="submit" value="Подтвердить">
    </form>
{% endblock %}