{% extends 'layout/base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block title %}Подоготовка данных для экологического сбора{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'main/css/flatpickr.min.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h3>Выберите диапазон дат</h3>
    {% if message %}
        {{ message }}
    {% endif %}
    <div class="col-3">
        <form method="post">
            {% csrf_token %}
            <!--
            <input type="datetime-local" class="form-control" placeholder="Начало диапазона">
            <input type="datetime-local" class="form-control" placeholder="Конец диапазона">
            -->
            {{ form.as_p }}
            <input type="submit" value="Задать">
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("input[type=datetime-local]", {});
    </script>
{% endblock %}