{% extends 'layout/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load filtertags %}

{% block title %}Отчет по экологическому сбору{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'main/css/eco.css' %}">
    <script src="{% static 'main/js/jquery-3.6.1.js' %}"></script>
    <script src="{% static 'main/js/expand_tables.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>Отчёт по экологическому сбору: {{ start|date:"d.m.Y" }} - {{ end|date:"d.m.Y" }}</h3>
    <div class="container m-1">

        <table>
        <thead>
            <tr>
                <th>Код ТН ВЭД</th>
                <th>ГТД</th>
                <th>Ставка за тонну</th>
                <th>Норматив утилизации</th>
                <th>Масса нетто</th>
                <th>Итого</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in total.items %}
                <tbody class="labels">
                    <tr>
                        <td>
                            <label for="{{ k }}">{{ k }}</label>
					        <input type="checkbox" checked="checked" name="{{ k }}" id="{{ k }}" data-toggle="toggle">
                        </td>
                        <td></td>
                        <td>{{ v.0|floatformat:0 }}</td>
                        <td>{{ v.1|floatformat:0 }}</td>
                        <td>{{ v.2|floatformat:2 }}</td>
                        <td>{{ v.3|floatformat:4 }}</td>
                    </tr>
                </tbody>
                <tbody class="hide">
                    {% with expanded|another_dict:k as exp %}
                        {% for ke, ve in exp.items %}
                            <tr>
                                <td></td>
                                <td>{{ ke }}</td>
                                <td></td>
                                <td></td>
                                <td>{{ ve.2|floatformat:2 }}</td>
                                <td>{{ ve.3|floatformat:4 }}</td>
                            </tr>
                        {% endfor %}
                    {% endwith %}
                </tbody>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}