{% extends "layout/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Товары группы{% endblock %}
{% block extra_scripts %}
    <script defer src="{% static 'main/js/jquery.tablesorter.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'main/js/sort_table.js' %}" ></script>
{% endblock %}
{% block content %}
    <h2>Товары ГТД {{ goods.0.gtd.gtdId }} группы {{ goods.0.group.number }}</h2>
    <h5><a href="{% url 'main:show_gtd' %}">К списку ГТД</a> </h5>
    <h5><a href="{% url 'main:groups_per_gtd' pk=goods.0.gtd.pk %}">К списку групп ГТД</a> </h5>
    <table class="table" id="gtd_tables">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Номер товара в группе</th>
                <th>Количество товаров</th>
                <th>Единица измерения</th>
                <th>Производитель</th>
            </tr>
        </thead>
        <tbody>
            {% for good in goods %}
                <tr>
                    <td>{{ good.good.name }}</td>
                    <td>{{ good.good_num }}</td>
                    <td>{{ good.quantity }}</td>
                    <td>{{ good.qualifier.name }}</td>
                    <td>{{ good.manufacturer.manufacturer }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </div>
{% endblock %}