{% extends "layout/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Группы{% endblock %}
{% block extra_scripts %}
    <script defer src="{% static 'main/js/jquery.tablesorter.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'main/js/sort_table.js' %}" ></script>
{% endblock %}
{% block content %}
    <h2>Группы ГТД {{ groups.0.gtd.gtdId }}</h2>
    <h5>Щелкните по номеру товарной группы, чтобы посмотреть документы группы </h5>
    <h5>Щелкните по названию группы, чтобы посмотреть товары</h5>
    <h5><a href="{% url 'main:show_gtd' %}">К списку ГТД</a> </h5>
    <table class="table" id="gtd_tables">
        <thead>
            <tr>
                <th>Номер товарной группы</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Код группы по ТН ВЭД</th>
                <th>Масса брутто</th>
                <th>Масса нетто</th>
                <th>Страна происхождения</th>
                <th>Код заявляемой таможенной процедуры</th>
                <th>Код предыдущей процедуры</th>
                <th>Таможенная стоимость</th>
                <th>Сумма пошлины</th>
                <th>Ставка пошлины, %</th>
                <th>Сумма НДС</th>
                <th>Ставка НДС, %</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        {% url 'main:documents_per_group' gtd=group.gtd.pk group_pk=group.pk as documents_url %}
                        <a href="{{ documents_url }}">{{ group.number }}</a>
                    </td>
                    <td>
                        {% url 'main:goods_per_group' gtd=group.gtd.pk group_pk=group.pk as goods_url %}
                        <a href="{{ goods_url }}">{{ group.name }}</a>
                    </td>
                    <td>{{ group.description }}</td>
                    <td>{{ group.tn_ved.code }}</td>
                    <td>{{ group.gross_weight }}</td>
                    <td>{{ group.net_weight }}</td>
                    <td>{{ group.country.russian_name }}</td>
                    <td>{{ group.procedure.code }}</td>
                    <td>{{ group.prev_procedure.code }}</td>
                    <td>{{ group.customs_cost }}</td>
                    <td>{{ group.fee }}</td>
                    <td>{{ group.fee_percent }}</td>
                    <td>{{ group.ndc }}</td>
                    <td>{{ group.ndc_percent }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </div>
{% endblock %}