{% extends 'layout/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Справочники{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'main/css/jquery.dataTables.min.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'main/js/jquery-3.6.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/use_datatable.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>Справочник - {{ handbook_name }}</h2>
    <hr>

    <table class="table" id="gtd_tables">
    <thead>
        <tr>
            {% for name in verbose_names %}
                <th >{{ name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for value_row in values %}
            <tr>
                {% for value in value_row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}