{% extends 'layout/base.html' %}
{% load bootstrap5 %}
{% block title %}Сброс пароля {% endblock %}
{% block content %}
    <h3> Установление нового пароля</h3>
    {% if validlink %}
        <p style="font-size: large">Введите новый пароль дважды:</p>
        <form action="." method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons submit='Установить пароль' %}{% endbuttons %}
        </form>
    {% else %}
        <p style="font-size: large">
            Ссылка для сброса пароля некорректна. Возможно, её уже использовали.
        Пожалуйста, запросите новый сброс пароля.
        </p>
    {% endif %}

{% endblock %}
