{% extends "layout/base.html" %}

{% load static %}
{% load bootstrap5 %}

{% block title %}ГТД {{ gtd.gtdId }}{% endblock %}

{% block extra_links %}
    <script type="text/javascript" src="{% static 'main/js/jquery-3.6.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/activeTabPane.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>#}
{#    <link rel="stylesheet" href="{% static 'main/css/jquery.dataTables.min.css' %}" type="text/css">#}

{#    <script type="text/javascript" src="{% static 'main/js/jquery.dataTables.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'main/js/use_datatable.js' %}"></script>#}
{% endblock %}

{% block content %}

<div class="container mt-2">
        <h3 class="mb-3"> <a href="{% url 'main:show_gtd' %}">К списку ГТД</a> -> ГТД {{ gtd.gtdId }}</h3>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" id="gtdmain-tab" href="#gtdmain">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" id="gtdgroups-tab" href="#gtdgroups"> Разделы ГТД ({{ gtd.total_goods_number }})</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="gtdmain">
                <div class="row border g-0 rounded shadow-sm">
                    <div class="col p-4">
                        <h3>Главная</h3>
                        <div>Таможенные отдел: {{ gtd.customs_house.house_name }}</div>
                        <div>Дата: {{ gtd.date|date:"d.m.Y" }}</div>
                        <div>Всего товаров (групп): {{ gtd.total_goods_number }}</div>
                        <div>Экспортер: {{ gtd.exporter.name }}</div>
                        <div>Импортер: {{ gtd.importer.name }}</div>
                        <div>Торгующая страна: {{ gtd.trading_country.russian_name }}</div>
                        <div>Общая стоимость: {{ gtd.total_cost }}</div>
                        <div>Валюта: {{ gtd.currency.short_name }}</div>
                        <div>Общая стоимость по счёту: {{ gtd.total_invoice_amount }}</div>
                        <div>Курс валюты {{ gtd.currency_rate }}</div>
                        <div>Код характера сделки: {{ gtd.deal_type.code }}</div>
                        <hr>
                        {% if gtd.last_edited %}
                        <div>Последний добавил/редактировал: {{ gtd.last_edited.username }}</div>
                        <hr>
                        {% endif %}
                        <hr>
                        {% if gtd.gtd_file %}
                            {% url 'main:show_gtd_file' filename=gtd.gtd_file.document as file_url %}
                            <div>Документ ГТД: <a href="{{ file_url }}" target="_blank" >Посмотреть</a> / <a download href={{ file_url }}>Скачать</a> </div>

                        {% endif %}
                        <div class="mt-4">
                            <a class="btn btn-outline-warning" href="{% url 'main:update_gtd' pk=gtd.pk %}">Отредактировать</a>
                            <a class="btn btn-outline-danger" href="{% url 'main:delete_gtd' pk=gtd.pk %}">Удалить</a>
                        </div>
                        <hr>
                        <div class="mt-4">
                            <div class="mt-lg-1">
                                {% if gtd.exported_to_wms %}
                                    Экспортирован в WMS
                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#wmsModal">
                                        Экспорт в WMS
                                    </button>
                                    <div class="modal fade" id="wmsModal" tabindex="-1" role="dialog" aria-labelledby="wmsModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="wmsModalLabel">Эта ГТД уже была экспортирована</h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Нажмите ОК, если вы всё равно хотите сгенерировать xml по этой ГТД
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                                                    <a href="{% url 'main:to_wms' pk=gtd.pk %}"><button type="button" class="btn btn-primary">OK</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}
                                    Экспорт в WMS не был выполнен
                                    <a class="btn btn-outline-info" href="{% url 'main:to_wms' pk=gtd.pk %}">Экспорт в WMS</a>

                                {% endif %}


                            </div>
                            <div class="mt-lg-1">
                                {% if user.first_name and user.last_name and user.patronymic %}
                                    {% if gtd.exported_to_erp %}
                                        Экспортирован в ERP
                                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#wmsModal">
                                            Экспорт в ERP
                                        </button>
                                        <div class="modal fade" id="wmsModal" tabindex="-1" role="dialog" aria-labelledby="wmsModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="wmsModalLabel">Эта ГТД уже была экспортирована</h5>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Нажмите ОК, если вы всё равно хотите сгенерировать xml по этой ГТД для ERP
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                                                        <a href="{% url 'main:to_erp' pk=gtd.pk %}"><button type="button" class="btn btn-primary">OK</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        Экспорт в ERP не был выполнен
{#                                        <button type="button" class="btn btn-outline-info">#}
                                            <a class="btn btn-outline-info" href="{% url 'main:to_erp' pk=gtd.pk %}">Экспорт в ERP</a>
{#                                        </button>#}
                                    {% endif %}
                                {% else %}
                                    {% if gtd.exported_to_erp %}
                                        Экспортирован в ERP
                                    {% else %}
                                        Экспорт в ERP не был выполнен
                                    {% endif %}

                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#erpModal">Экспорт в ERP</button>
                                    <div class="modal fade" id="erpModal" tabindex="-1" role="dialog" aria-labelledby="wmsModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="wmsModalLabel">Профиль не заполнен</h5>
                                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Пожалуйста, введите в профиле свои имя и фамилию, чтобы получить доступ
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
{#                                                            <a href="{% url 'main:to_wms' pk=gtd.pk %}"><button type="button" class="btn btn-primary">OK</button></a>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="gtdgroups">
                <div class="row border g-0 rounded shadow-sm">
                    <div class="col p-4">
                        <h3>
                            Разделы ГТД
                            <a href="{% url 'main:create_gtd_group' pk=gtd.pk %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2.5%" height="2.5%" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </a>
                        </h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>№ Товарной группы</th>
                                    <th>Таможенная стоимость</th>
                                    <th>ТН ВЭД</th>
                                    <th>Масса брутто</th>
                                    <th>Масса нетто</th>
                                    <th>Страна</th>
                                    <th>Сумма пошлины</th>
                                    <th>% пошлины</th>
                                    <th>Сумма НДС</th>
                                    <th>% НДС</th>
                                    <th>Редактировать</th>
                                    <th>Удалить</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td><a href="{% url 'main:per_gtd' pk=gtd.pk %}?group={{ group.pk }}">{{ group.number }}</a></td>
                                        <td>{{ group.customs_cost }}</td>
                                        <td>{{ group.tn_ved.code }}</td>
                                        <td>{{ group.gross_weight }}</td>
                                        <td>{{ group.net_weight }}</td>
                                        <td>{{ group.country.russian_name }}</td>
                                        <td>{{ group.fee }}</td>
                                        <td>{{ group.fee_percent }}</td>
                                        <td>{{ group.ndc }}</td>
                                        <td>{{ group.ndc_percent }}</td>
                                        <td>
                                            <a href="{% url 'main:update_gtd_group' pk=group.pk %}" class="btn btn-outline-warning">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                </svg>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'main:delete_gtd_group' pk=group.pk %}" class="btn btn-outline-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if are_goods_shown %}
                            <h3>
                                {{ gtd.gtdId }}/{{ current_group.number }}
                                <a href="{% url 'main:create_gtd_good' pk=current_group.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2.5%" height="2.5%" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">#}
                                      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
{#                                  </svg>
                                </a>
                            </h3>
                            <table class="table" id="gtd_tables">
                                <thead>
                                    <tr>
                                        <th>Номер в группе</th>
                                        <th>Артикул</th>
                                        <th>Количество</th>
                                        <th>Производитель (Завод)</th>
                                        <th>Редактировать</th>
                                        <th>Удалить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for good in goods %}
                                        <tr>
                                            <td>{{ good.good_num }}</td>
                                            <td>{{ good.good.marking }}</td>
                                            <td>{{ good.quantity }} {{ good.qualifier.russian_symbol }}</td>
                                            <td>{{ good.manufacturer.manufacturer }}</td>
                                            <td>
                                                <a href="{% url 'main:update_gtd_good' pk=good.pk %}" class="btn btn-outline-warning">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                    </svg>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'main:delete_gtd_good' pk=good.pk %}" class="btn btn-outline-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                    </svg>
                                                </a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>

            </div>
    </div>

 <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->

{% endblock %}