{% extends 'layout/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load filtertags %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<h2>Сотрудник {{ user.username }}</h2>
<p>Здравствуйте!</p>

    <div class="container-fluid">
        <div>
            {% if user.first_name %}
                Имя: {{ user.first_name }}
            {% else %}
                Имя пользователя не введено
            {% endif %}
        </div>
        <div>
            {% if user.last_name %}
                Фамилия: {{ user.last_name }}
            {% else %}
                Фамилия пользователя не задана
            {% endif %}
        </div>
        <div>
            {% if user.patronymic %}
                Отчество: {{ user.patronymic }}
            {% else %}
                Отчество не задано
            {% endif %}
        </div>
        <div>
            Электронный адрес: {{ user.email }}
        </div>
        <div>
{#            Роль в системе: {{ user.groups.name }}#}
{#            {% if user|has_group:"Администратор" %}#}
{#                Администратор#}
{#            {% else %}#}
{#                {{ user.groups }}#}
{#            {% endif %}#}
            Должность: {{ user.role }}

        </div>
        <a class="btn btn-outline-info" href="{% url 'main:profile_change' %}">
            Изменить данные профиля
        </a>
        <a class="btn btn-outline-info" href="{% url 'main:password_change' %}">
            Изменить пароль
        </a>
    </div>

{% endblock %}