{% extends "layout/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}ГТД{% endblock %}

{% block extra_scripts %}
    <script defer src="{% static 'main/js/jquery.tablesorter.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'main/js/sort_table.js' %}" ></script>
{% endblock %}

{% block content %}
    <h2>Таможенные декларации</h2>
    <h5>Щелкните по цифре в колонке "Число групп товаров", чтобы перейти к группам ГТД</h5>
    <table class="table" size="90%" id="gtd_tables">
        <thead>
            <tr>
                <th>Номер ГТД</th>
                <th>Таможенный отдел</th>
                <th>Дата</th>
                <th>Экспортер</th>
                <th>Импортер</th>
                <th>Торгующая страна</th>
                <th>Общая стоимость</th>
                <th>Валюта</th>
                <th>Общая стоимость по счёту</th>
                <th>Курс валюты</th>
                <th>xml-файл ГТД</th>
            </tr>
        </thead>

    <tbody>
        {% for gtd in gtds %}
            <tr>
                <td><a href="{% url 'main:per_gtd' pk=gtd.pk %}">{{ gtd.gtdId }}</a></td>
                <td>{{ gtd.customs_house.house_name }}</td>
                <td>{{ gtd.date|date:"d.m.Y" }}</td>
                <td>{{ gtd.exporter.name }}</td>
                <td>{{ gtd.importer.name }}</td>
                <td>{{ gtd.trading_country.russian_name }}</td>
                <td>{{ gtd.total_cost }}</td>
                <td>{{ gtd.currency.short_name }}</td>
                <td>{{ gtd.total_invoice_amount }}</td>
                <td>{{ gtd.currency_rate }}</td>
                {% if gtd.gtd_file %}
                    {% url 'main:show_gtd_file' filename=gtd.gtd_file.document as file_url %}
                    <td>Документ ГТД: <a href={{ file_url }} >Посмотреть</a> / <a download href={{ file_url }}>Скачать</a> </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; В начало</a>
            <a href="?page={{ page_obj.previous_page_number }}">На предыдущую</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">На следующую</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
        {% endif %}
        </span>
    </div>
{% endblock %}