{% extends "layout/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}ГТД{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'main/css/gtd_tables.css' %}">
    <script src="{% static 'main/js/table_sort.js' %}"></script>
    <script src="{% static 'main/js/table_search.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>Таможенные декларации</h2>
    <h5>Щелкните по цифре в колонке "Число групп товаров", чтобы перейти к группам ГТД</h5>

    <div class="col-lg-4">
{#        <p>Выводится по {{ paginate_by }} записей на странице. Изменить: </p>#}
{#        <form method="get" class="col-md-auto form-inline"  id="together">#}
{#            <select id="input-limit" name="paginate_by" class="form-control">#}
{#                <option value="10">10</option>#}
{#                <option value="25">25</option>#}
{#                <option value="50">50</option>#}
{#                <option value="100">100</option>#}
{#            </select>#}
{#            {% csrf_token %}#}
{#            {{ form_paginate }}#}
{#            <input type="submit"> </input>#}
{#        </form>#}
    <form class="col-md-auto form-inline" method="get"  id="together">
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Искать' %}{% endbuttons %}
{#                {{ form_search }}#}
{#            <input type="submit" value="Поиск">#}
{#            {% bootstrap_button submit='Искать' %}#}
        </form>
    </div>


{#    <input type="text" class="form-control" placeholder="Начните вводить слова фильтрации" id="search-text" onkeyup="tableSearch()">#}
{#    <div class="col-lg-1">#}
{#        <form class="col-md-auto form-inline" method="get">#}
{#            {{ form_search.as_div }}#}
{#                {{ form_search }}#}
{#            <input type="submit" value="Поиск">#}
{#            {% bootstrap_button content='Искать' button_type='submit' %}#}
{#        </form>#}
{#    </div>#}

    <div style="text-align: center">
    <table size="90%" id="sortable_searchable">
{#        #}
        <thead>
            <tr>
                <th>Номер ГТД</th>
                <th>Таможенный отдел</th>
                <th>Дата</th>
                <th>Экспортер</th>
                <th>Импортер</th>
                <th>Торгующая страна</th>
                <th>Общая стоимость</th>
                <th>Валюта</th>
                <th>Общая стоимость по счёту</th>
                <th>Курс валюты</th>
                <th>xml-файл ГТД</th>
                {% if for_customs_officer %}
                <th>Удалить</th>
                {% endif %}
            </tr>
        </thead>

    <tbody>
        {% for gtd in gtds %}
            <tr>
                <td><a href="{% url 'main:per_gtd' pk=gtd.pk %}">{{ gtd.gtdId }}</a></td>
                <td>{{ gtd.customs_house.house_name }}</td>
                <td>{{ gtd.date|date:"d.m.Y" }}</td>
                <td>{{ gtd.exporter.name }}</td>
                <td>{{ gtd.importer.name }}</td>
                <td>{{ gtd.trading_country.russian_name }}</td>
                <td>{{ gtd.total_cost }}</td>
                <td>{{ gtd.currency.short_name }}</td>
                <td>{{ gtd.total_invoice_amount }}</td>
                <td>{{ gtd.currency_rate }}</td>
                {% if gtd.gtd_file %}
                    {% url 'main:show_gtd_file' filename=gtd.gtd_file.document as file_url %}
                    <td><a href="{{ file_url }}" target="_blank" >Посмотреть</a> / <a download href={{ file_url }}>Скачать</a> </td>
                {% else %}
                <td>-</td>
                {% endif %}
                {% if for_customs_officer %}
                    <td>
                        <a class="btn btn-outline-danger" href="{% url 'main:delete_gtd' pk=gtd.pk %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{#    <div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">&laquo; В начало</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">На предыдущую</a>#}
{#        {% endif %}#}
{#        <span class="current">#}
{#            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">На следующую</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>#}
{#        {% endif %}#}
{#        </span>#}
{#    </div>#}
    {% if gtds.has_other_pages %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if gtds.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?paginate_by={{ paginate_by }}&page={{ gtds.previous_page_number }}" aria-label="Назад"> {#  #}
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                {% endif %}

                {% for p in gtds.paginator.page_range %}
                    {% if gtds.number == p %}
                        <li class="page-item"><a class="page-link" style="color: red;" disabled="true" href="#">{{ p }}</a> </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?paginate_by={{ paginate_by }}&page={{ p }}">{{ p }}</a> </li>  {#  #}
                    {% endif %}
                {% endfor %}

                {% if gtds.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?paginate_by={{ paginate_by }}&page={{ gtds.next_page_number }}" aria-label="Далее"> {#  #}
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}