{% extends "layout/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}ГТД{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'main/css/jquery.dataTables.min.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'main/js/jquery-3.6.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/use_datatable.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>Таможенные декларации</h2>
    <h5>Щелкните по цифре в колонке "Число групп товаров", чтобы перейти к группам ГТД</h5>
    <table class="table" size="90%" id="gtd_tables">
        <thead>
            <tr>
                <th>Номер ГТД</th>
                <th>Таможенный отдел</th>
                <th>Дата</th>
                <th>Экспортер</th>
                <th>Импортер</th>
                <th>Торгующая страна</th>
                <th>Общая стоимость</th>
                <th>Валюта</th>
                <th>Общая стоимость по счёту</th>
                <th>Курс валюты</th>
                <th>xml-файл ГТД</th>
            </tr>
        </thead>

    <tbody>
        {% for gtd in gtds %}
            <tr>
                <td><a href="{% url 'main:per_gtd' pk=gtd.pk %}">{{ gtd.gtdId }}</a></td>
                <td>{{ gtd.customs_house.house_name }}</td>
                <td>{{ gtd.date|date:"d.m.Y" }}</td>
                <td>{{ gtd.exporter.name }}</td>
                <td>{{ gtd.importer.name }}</td>
                <td>{{ gtd.trading_country.russian_name }}</td>
                <td>{{ gtd.total_cost }}</td>
                <td>{{ gtd.currency.short_name }}</td>
                <td>{{ gtd.total_invoice_amount }}</td>
                <td>{{ gtd.currency_rate }}</td>
                {% if gtd.gtd_file %}
                    {% url 'main:show_gtd_file' filename=gtd.gtd_file.document as file_url %}
                    <td>Документ ГТД: <a href={{ file_url }} >Посмотреть</a> / <a download href={{ file_url }}>Скачать</a> </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}