{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}ГТД по поставщикам{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'main/css/report_tables.css' %}">
    <script src="{% static 'main/js/table_sort.js' %}"></script>
    <script src="{% static 'main/js/table_search.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>Количество ГТД по поставщикам {% if show %}в период {{ start|date:"d.m.Y" }} - {{ end|date:"d.m.Y" }}{% endif %}</h2>
    <div class="align-self-xl-center">
        <div class="col-3">
            {% if message %}
                <div id="error_message" >{{ message }}</div>
            {% endif %}
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Ок">
            </form>
        </div>
    </div>

{#    {{ range }}#}
    {% if show %}
        <div class="container m-7">
            <input type="text" class="form-control" placeholder="Начните вводить слова фильтрации" id="search-text" onkeyup="tableSearch()">
            <table id="sortable_searchable">
                <thead>
                    <tr>
                        <th>Поставщик</th>
                        <th data-type="number" >Кол-во гтд</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k in exporters %}
                        <tr>
                            <td>{{ k.0 }}</td>
                            <td>{{ k.1 }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        <a href="{% url 'main:gtd_per_exporter_file' filename=filename %}">Скачать</a>
        </div>
    {% endif %}
{% endblock %}