{% extends 'layout/base.html' %}

{% load bootstrap5 %}

{% load static %}

{% block title %}Статистические отчеты{% endblock %}
<style href="{% static 'main/css/style.css' %}"></style>
{% block content %}
    <div class="container mt-4 align-content-md-center">


    <h2 style="text-align: center; margin-left: -10%">Статистические отчёты</h2>
    <div class="container mt-4">
    <h4>
        <div style="float: left; width: 49%;">
            <a href="{% url 'main:statistics_gtd_per_exporter' %}">Количество ГТД до поставщикам</a>
        </div>
        </h4>
        <h4>
        <div style="float:right; width: 49%;">
            <a href="{% url 'main:report_goods_imported' %}">Количество ввезенного оборудования за период</a>
        </div></h4>
    </div>
    </div>
{% endblock %}