{% extends 'layout/base.html' %}

{% load bootstrap5 %}

{% block title %}
    Успешно загружены файлы
{% endblock %}

{% block content %}
    <h3>Загружены файлы</h3>
    <div class="small-head"><b> Отправлено на вход:</b> {{ all }}</div>


{% if skipped %}
    <div>Пропущено: {{ skipped }}</div>
            {% for gtd in log.skip %}
                <li class="list-group-item">
                    <a href="{% url 'main:per_gtd' pk=gtd.pk %}">{{ gtd }}</a>
                </li>

            {% endfor %}
        {% endif %}

    {% if updated %}
        <div>Обновленные: {{ updated }}</div>
        {% for gtd in log.update %}
            <li class="list-group-item">
                <a href="{% url 'main:per_gtd' pk=gtd.pk %}">{{ gtd }}</a>
            </li>
        {% endfor %}
    {% endif %}
    <div>Новые: {{ new }}</div>

    {% if new %}
        {% for gtd in log.new %}
            <li class="list-group-item">
                <a href="{% url 'main:per_gtd' pk=gtd.pk %}">{{ gtd.gtdId }}</a>
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}